# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Johnny Chan
#	email = johnnychan@Johnnys-MacBook-Pro.local (original line)
        email = chanyao@umich.edu

[core]
	autocrlf = input

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	fo = fetch origin
	visual = !gitg
	one = log --online
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	lg1 =  log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 =  log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

[color]
	ui = auto

[credential]
